
<h1 class="text-center text-uppercase text-white">教学环境</h1>
<hr class="star-light mb-5">
<div class="teachers">
</div>

<style type="text/css">
  .teachers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .avatar {
    margin-top: 10px;
  }
  .card-user {
    flex: 1;
    margin: 10px 20px;
    height: 480px;
  }
  .card-user:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
  }
</style>