@import "admin/animate.min";
@import "admin/bootstrap.min";
@import "admin/demo";
@import "admin/light-bootstrap-dashboard";
@import "admin/pe-icon-7-stroke";
@import "admin/font-awesome.min";
@import "admin/bootstrap-datepicker.min";


textarea.form-control {
  height: 150px;
}

.datetime-picker {
  display: inline-block;
  width: auto;
}