<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; 2019 <a href="#">Zero</a>, made with love for a better web
        </p>
    </div>
</footer>